doctype 5
html
  head
    title= '今日チューブ'
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width, initial-scale=1')
    meta(name='apple-mobile-web-app-capable',content='yes')
    meta(name='apple-mobile-web-app-status-bar-style',content='black')

    //script(src='/videoplayer/jquery.js')
    //script(src='/videoplayer/mediaelement-and-player.js')
    //link(rel='stylesheet', href='/videoplayer/mediaelementplayer.css')

    link(rel='apple-touch-icon', href='/images/icon.png')
    link(rel='shortcut icon', href='/images/icon.png')
    link(rel='stylesheet', href='/themes/androidhololight/AndroidHoloLight.min.css')
    //link(rel='stylesheet', href='/themes/androidholodarklight/AndroidHoloDarkLight.min.css')
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.2.0/jquery.mobile.structure-1.2.0.min.css')
    link(rel='stylesheet', href='http://dev.jtsage.com/cdn/simpledialog/latest/jquery.mobile.simpledialog.min.css')
    link(rel='stylesheet', href='/themes/roboto/fonts.css')
    script(src='http://code.jquery.com/jquery-1.8.2.min.js')
    script(src='http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js')
    script(src='http://dev.jtsage.com/cdn/simpledialog/latest/jquery.mobile.simpledialog.min.js')
    script(src='http://a.vimeocdn.com/js/froogaloop2.min.js?1b636-1354269188')
  body
    block content